@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@{

    string[] one = { "Apples", "Bananas", "Pears" };
    string[] two = one;
    string sOne = "Mango";
    string sTwo = sOne;

}
Array 1: 
@foreach (string item in one) {
    <div>
        <p>
            @item.ToString();
        </p>
    </div>
}
Array 2: 
@foreach (string item in one) {
    <div>
        <p>
            @item.ToString();
        </p>
    </div>
}
<hr />
String 1: @sOne; 
<br />
String 2: @sTwo;
<br />
<br />
<hr />
@{
    two[0] = "Strawberries";
    sTwo = "Acai";
}
Array 1: 
@foreach (string item in one) {
    <div>
        <p>
            @item.ToString();
        </p>
    </div>
}
Array 2: 
@foreach (string item in one) {
    <div>
        <p>
            @item.ToString();
        </p>
    </div>
}
<hr />
String 1: @sOne; 
<br />
String 2: @sTwo;
<br />
<br />
<hr />
